.section11{
padding: 80px 0;
}
.section11 .col-md-3, .section11 .col-md-9 {
    padding: 30px 0;
    border: 1px solid#4d48485e;
}
.section11 .col-md-3{max-height: 600px;margin-bottom: 25px;}
@media (min-width: 768px) {
    .section11 .col-md-9{
        margin-right: 25px;
        flex: 0 0 75%;
        max-width: calc(75% - 25px);
    }
}
.section11 .img {
    width: 135px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #726c6cc7;
    border: 9px solid #fff;
}
.section11 .col-md-3 .main{border-bottom: 1px solid#4d48485e;margin-bottom: 10px;}
.section11 .col-md-3 h2{
    margin: 15px 0;
    color:  #222831;
}
.section11 .col-md-3 p{
    color:  #30475e;
}
.section11 .col-md-3 h5{
    color:  #222831;
}
.nav-pills .nav-link {
    padding: 14px;
    color:  #222831;
    margin: 3px 0;
    font-weight: bold;
    opacity: 0.7;
    border-radius: 0;
}
.nav-pills .nav-link:hover {
    background-color: #ff4a17;
    color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ff4a17;
    opacity: 1;
}
.tab-pane{padding: 0 60px 0;}
input{margin: 0 0 35px 0;}
.tab-pane h2 {
    color:  #30475e;
    margin-bottom: 24px;
    border-bottom: 1px solid #4d48485e;
    padding-bottom: 12px;
}
.tab-pane label {color:  #222831;}
.table label {
    color: #fff;
    padding: 3px 11px;
    border-radius: 3px;
}
table{text-align: center;}
table a{text-decoration: none !important;}
.card{margin-bottom: 20px;}
.card a{
    background-color:#ff4a17;
    padding: 7px 26px;
    color: #fff;
    text-decoration: none;
    margin: 15px 0;
    border: 2px solid #ff4a17;
}
.card a:hover{
    background-color: #fff;
    color: #ff4a17;
    border-color: #ff4a17;
    transition: 0.5s ease-in-out;
}
.card p{color: #30475e;}
iframe{
    margin-bottom: -9px;
    width: 100%;
    height: 500px;
}
video{margin-bottom: -9px;}
.section11 input[type="radio"]{
    margin-left: 18px;
    height: 25px;
    width: 26px;
}
.section11 input[type="text"]{
    height: 60px;
    border: 0;
    width: 85%;
    border-bottom: 1px solid #827f7fd9;
}
.section11 input[type="text"]:focus{
    outline: none !important;
}
.section11 input[type="text"]:focus::placeholder {
    font-size: 12px;
    position: relative;
    top: -20px;
    transition: 0.25s ease-in-out;
}
.section11 h4 {margin-bottom: 20px;}
.section11 label {
    font-size: 22px;
    top: -5px;
    position: relative;
    color: #30475e;
}

.content_control, .content_control_2 {
    background-color: #30475e;
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 0px 2px;
  }
  @media (max-width: 1200px) {
    .content_control, .content_control_2 {
      width: 31%;
    }
  }
  @media (max-width: 992px) {
    .content_control, .content_control_2 {
      width: 35%;
    }
  }
  @media (max-width: 768px) {
    .content_control, .content_control_2 {
      width: 48%;
    }
  }
  .content_control button, .content_control_2 button {
    background-color: #ff4a17;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding: 9px 25px;
    margin: 10px 0;
    border: none;
  }
  .content_control button:hover, .content_control_2 button:hover {
    color: #fff;
  }
  .section11 .btn-link{
      text-decoration: none;
      color: #ff4a17;
      font-size: 23px;
  }
  .section11 .btn-link:focus{
    outline: none !important;
}