.section_9{
    padding: 60px 0;
}
.section_9 h2{color: #222831;}
.section_9 a{text-decoration: none; color: #ff4a17; opacity: 0.8;}
.section_9 a:hover{opacity: 1;transition: 0.5s ease-in-out;}

.section7 {
    padding: 60px 0;
  }
  .section7 h2 {
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #222831;
    text-align: right;
  }
  .section7 .card {
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    .section7 .main {
      margin-top: -23px;
      padding: 0;
    }
  }
  @media (min-width: 1200px) {
    .section7 .second {
      opacity: 0.8;
    }
    .section7 .second:hover {
      opacity: 1;
      margin-top: -23px;
      transition: 0.7s ease-in-out;
    }
  }
  .section7 .col-4 {
    padding: 0 0 0 13px;
  }
  @media (max-width: 768px) {
    .section7 .col-4  {
      padding: 0;
    }
  }
  .section7 .col-4 h3 {
    font-size: 45px;
  }
  .section7 .col-4 .date {
    background: #ff4a17;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #ff4a17);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #ff4a17);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    padding: 10px 0;
    border-radius: 7px;
    color: #fff;
    font-size: 17px;
  }
  .section7 .btn {
    background: #ff4a17;
    /* fallback for old browsers */
    border: 2px solid #ff4a17;
    color: #fff;
    border-radius: 30px;
    margin-top: 16px;
  }
  .section7 .btn:hover {
    background-color: #fff;
    border-radius: #fff;
    color: #ff4a17;
    transition: 0.5s ease-in-out;
  }
  textarea {
    display: block;
    margin: 32px 0;
    height: 50px;
    border: 0;
    border-bottom: 1px solid #827f7fd9;
    width: 70%;
    min-height: 100px;
}
@media (max-width: 768px) {
  textarea {
    width: 100%;
  }
}
textarea:focus{
  outline: none !important;
}
form button {
  margin-bottom: 27px;
  background-color: #ff4a17;
  border: 0;
  padding: 14px;
  color: #fff;
  border: 2px solid #ff4a17;
  width: 150px;
}

form button:hover {
  color: #ff4a17;
  background-color: #fff;
  border: 2px solid;
  transition: 0.5s ease-in-out;
}
.main_comments .row {margin-top: 34px;}
.main_comments img{
  background-color: #dddddd;
  padding: 7px;
  border-radius: 11px;
  position: relative;
  top: -29px;
  right: 49px;
  width: 58px;
  z-index: 99;
}
@media (max-width: 1200px) {
  .main_comments img  {
    right: 28px;
  }
}
@media (max-width: 992px) {
  .main_comments img  {
    right: 12px;
  }
}
@media (max-width: 768px) {
  .main_comments img  {
    display: none;
  }
}
.main_comments .row .col-11{
  background-color: #dddddd;
  padding: 5px 35px;
  border-radius: 7px;
}
.card-body{padding: 20px 58px;}

.section6 .main_content h2 {
  font-size: 50px;
  margin: 50px 0;
  font-weight: bold;
  color: #222831;
  text-align: right;
}

.section6 .main_content .main_item {
  border: 1px solid;
  border-color: #c1b8b8;
  padding: 16px 10px 20px;
  border-radius: 5px;
  background-color: #f5f6ef;
  box-shadow: 0px 0px 1px 0px #000;
  margin-bottom: 30px;
}

.section6 .main_content .main_item h3 {
  color: #222831;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.section6 .main_content .main_item p {
  color:#30475e;
}

.section6 .main_content .main_item .data_span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #807a79;
}

.section6 .main_content .main_item .main_img {
  height: 450px;
  width: 100%;
  display: block;
}

.section6 .main_content .main_item .second_row h5 {
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: bold;
  color: #222831;
}

.section6 .main_content .main_item .second_row h5 span {
  background-color: #222831;
  padding: 7px 10px 9px;
  border-radius: 30px;
  box-shadow: 0 0 1px 0 #000;
  font-weight: 600;
  color: #fff;
}

.section6 .main_content .main_item .second_row h5 i {
  margin-left: 7px;
  color: #ff4a17;
}

.section6 .main_content .main_item .main {
  color: #eee;
  background-color: #222831;
  padding: 13px 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0;
  box-shadow: 5px 7px 13px 0px #747070;
  padding: 8px 15px;
  width: 150px;
  background-color: #ff4a17;
  border: none;
  box-shadow: 0 0 1px 0 #000;
}

.section6 .main_content .main_item .main:hover {
  background-color: #222831;
  color: #ff4a17;
  transition: 0.7s ease-in-out;
  box-shadow: 0px 0px 0px;
}

.section6 .main_content .main_item .comment_show,
.section6 .main_content .main_item .add_comment {
  display: none;
  margin: 20px 0;
  padding: 10px 25px;
  border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
}

.section6 .main_content .main_item .comment_show img,
.section6 .main_content .main_item .add_comment img {
  width: 70%;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-top: 19px;
  height: 80px;
}

.section6 .main_content .main_item .comment_show .btn-orange,
.section6 .main_content .main_item .add_comment .btn-orange {
  background-color: #ff4a17;
  border-radius: 0;
  color: #fff;
  font-weight: bold;
  padding: 8px 15px;
  width: 130px;
}

.section6 .main_content .main_item .comment_show .btn-orange:hover,
.section6 .main_content .main_item .add_comment .btn-orange:hover {
  color: #fff;
  background-color: #222831;
  transition: 0.5s ease-in-out;
}

.section6 .main_content .main_item .comment_show label,
.section6 .main_content .main_item .add_comment label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222831;
}

.section6 .main_content .main_item .comment_show i,
.section6 .main_content .main_item .add_comment i {
  margin-left: 7px;
  color: #ff4a17;
  font-size: 21px;
}

.section6 .main_content .main_item .comment_show textarea,
.section6 .main_content .main_item .add_comment textarea {
  text-align: right;
}
